{% extends "partials/landing.html.twig" %}

{% block title %}{% trans %}Forgot Password{% endtrans %}{% endblock %}
{% block content %}
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">{% trans %}Forgot Password{% endtrans %}</div>
        <div class="card-body">
            {% for message in app.flashes('error._csrf_token') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            <form method="post">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="email_address" name="email_address" class="form-control" placeholder="{% trans %}Email address{% endtrans %}" required="required" autofocus="autofocus">
                        <label for="email_address">{% trans %}Email address{% endtrans %}</label>
                    </div>
                </div>

                {% for message in app.flashes('error.email_address') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot-password') }}" />
                <button class="btn btn-primary btn-block" type="submit">
                    {% trans %}Send{% endtrans %}
                </button>
            </form>
            <div class="text-center">
                <a class="d-block small" href="{{ path('crm_login') }}">{% trans %}Login{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}