<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app.css') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        <div class="container">
            <div>
                <a href="{{ url('language', {'locale': 'en'}) }}">
                    <span class="flag-icon flag-icon-us {% if app.request.locale == 'en' %}active{% endif %}"></span>
                </a>
                <a href="{{ url('language', {'locale': 'es'}) }}">
                    <span class="flag-icon flag-icon-es {% if app.request.locale == 'es' %}active{% endif %}"></span>
                </a>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
    {% endblock %}
</body>
</html>