{% extends "partials/landing.html.twig" %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
            </form>
            <div class="text-center">
                <a class="d-block small" href="{{ path('crm_customer_login') }}">Login</a>
            </div>
        </div>
    </div>
{% endblock %}