{% extends "partials/landing.html.twig" %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}
{% block content %}
    {# TODO: Add buttons format and a big image with a short description #}
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">{% trans %}Home{% endtrans %}</div>
        <div class="card-body">
            <div class="text-center">
                {% if is_granted('ROLE_MANAGER') %}
                <a href="{{ path('crm_manager_list')}}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-user-tie"></i> {% trans %}Managers{% endtrans %}</button>
                </a>
                {% endif %}
                {% if is_granted('ROLE_MANAGER') %}
                <a href="{{ path('crm_worker_list')}}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-user-cog"></i> {% trans %}Workers{% endtrans %}</button>
                </a>
                {% endif %}
                {% if is_granted('ROLE_WORKER') %}
                <a href="{{ path('crm_customer_list')}}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-user-tag"></i>x {% trans %}Customers{% endtrans %}</button>
                </a>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <a href="{{ path('crm_familiar_list')}}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-street-view"></i> {% trans %}Familiars{% endtrans %}</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}