{% extends "partials/landing.html.twig" %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}
{% block content %}
    {# TODO: Add buttons format and a big image with a short description #}
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">{% trans %}Home{% endtrans %}</div>
        <div class="card-body">
            <div class="text-center">
                <a href="{{ path('register')}}">
                    <button type="button" class="btn btn-primary"><i class="fa fa-user"></i> {% trans %}Create an account{% endtrans %}</button>
                </a>
                <a href="{{ path('crm_login')}}">
                    <button type="button" class="btn btn-primary"><i class="fa fa-sign-in"></i> {% trans %}Sign in{% endtrans %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}