// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$fa-font-path: "~font-awesome/fonts";
$brand-primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/startbootstrap-sb-admin/scss/sb-admin';
@import '../../node_modules/bootstrap-select/sass/bootstrap-select';

table.table {
  width: 100%;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.portrait {
  height: 100px;
}

.error {
  color: #5a5c69;
  font-size: 7rem;
  position: relative;
  line-height: 1;
  width: 12.5rem;
}

.error:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #4e73df;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.error:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #e74a3b;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.text-gray-800 {
  color: #5a5c69!important;
}

.text-gray-500 {
  color: #b7b9cc!important;
}