// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$fa-font-path: "~font-awesome/fonts";
$brand-primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/startbootstrap-sb-admin/scss/sb-admin';
@import '../../node_modules/bootstrap-select/sass/bootstrap-select';
@import "variables";
@import "error";
@import "timeline";

@import '../../node_modules/@fullcalendar/core/main.css';
@import '../../node_modules/@fullcalendar/daygrid/main.css';
@import '../../node_modules/@fullcalendar/timegrid/main.css';
@import '../../node_modules/@fullcalendar/list/main.css';
@import '../../node_modules/@fullcalendar/bootstrap/main.css';

@import "~flag-icon-css/sass/flag-icon";

table.table {
  width: 100%;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.portrait {
  height: 100px;
}

.text-gray-800 {
  color: #5a5c69!important;
}

.text-gray-500 {
  color: #b7b9cc!important;
}

.font-13 {
  font-size: 13px!important;
}

.text-uppercase {
  text-transform: uppercase!important;
}

.text-muted {
  color: #98a6ad!important;
}

.mb-3, .my-3 {
  margin-bottom: 1.5rem!important;
}

.flag-icon {
  opacity: 0.3;
}

.flag-icon.active {
  opacity: 1;
}