{% extends "partials/landing.html.twig" %}

{% block title %}Error{% endblock %}
{% block content %}
    <div class="card card-register mx-auto mt-5">
        <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="error mx-auto" data-text="404">404</div>
                <p class="lead text-gray-800 mb-5">{% trans %}Page Not Found{% endtrans %}</p>
                <p class="text-gray-500 mb-0">{% trans %}It looks like you found a glitch in the matrix...{% endtrans %}</p>
                <a href="{{ url('index') }}">← {% trans %}Back to home{% endtrans %}</a>
            </div>

        </div>
    </div>
{% endblock %}