{% extends "partials/landing.html.twig" %}

{% block title %}{% trans %}Create an account{% endtrans %}{% endblock %}
{% block content %}
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">{% trans %}Create an account{% endtrans %}</div>
        <div class="card-body">
            <form method="post" id="register-form">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" name="name" id="name" class="form-control" placeholder="{% trans %}Company name{% endtrans %}" maxlength="150" required="required" autofocus="autofocus">
                                <label for="name">{% trans %}Company name{% endtrans %}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" name="namespace" id="namespace" class="form-control" placeholder="{% trans %}Namespace{% endtrans %}" maxlength="50" required="required">
                                <label for="namespace">{% trans %}Namespace{% endtrans %}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" name="email_address" id="email_address" class="form-control" placeholder="{% trans %}Email address{% endtrans %}" maxlength="150" required="required" autocomplete="off" >
                        <label for="email_address">{% trans %}Email address{% endtrans %}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" name="password" id="password" class="form-control" placeholder="{% trans %}Password{% endtrans %}" maxlength="50" required="required" autocomplete="new-password" >
                                <label for="password">{% trans %}Password{% endtrans %}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" id="confirm_password" class="form-control" placeholder="{% trans %}Confirm password{% endtrans %}" maxlength="50" required="required" autocomplete="new-password">
                                <label for="confirm_password">{% trans %}Confirm password{% endtrans %}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block">{% trans %}Create an account{% endtrans %}</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="{{ path('login') }}">{% trans %}Sign in{% endtrans %}</a>
                <a class="d-block small" href="{{ path('forgot-password') }}">{% trans %}Forgot Password ?{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}
