<h1>{% trans %}Hi! We got a request to generate a new password.{% endtrans %}</h1>
<p>
    <a href="{{ url('crm_restore_password', {'token': token.hash}) }}">{% trans %}Click here to start getting a new password{% endtrans %}</a>
    ({% trans with {'%expiresAt%': token.expiresAt|date('F jS')} from 'app' %}this link is valid until %expiresAt% {% endtrans %})
</p>